* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

button,
input {
  font: inherit;
}

button {
  border: 0;
  background: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
